<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<link rel="stylesheet" type="text/css" th:href="@{/admin.css}">
	</head>
	<body>		
		
		<P>
			What you can expect from us, which describes <br>how we provide and develop our services
What we expect from you, which establishes certain rules for using our services<br>
Content in Google services, which describes the intellectual property <br>rights to the content you find in our services — whether that content belongs to you, Google, or others
In case of problems or disagreements, which describes other legal rights<br> you have, and what to expect in case someone violates these terms
		</P>
		
	</body>
	
</html>